@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
    margin: 0px;
}


main{
    width: 100%;
}


.primary-font{
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    color: #A1A1A1
}


#header{
    max-width: 100%;
    margin-bottom: 45px;
    background-color: #D9D9D9;
}


#navbar{
    display: flex;
    justify-content: space-between;
    justify-items: center ;
    padding: 15px 0px 16px 0px;
    max-width: 1320px;
    margin: auto;
}


#logo{
    font-weight: 800;
    font-size: 2rem;
    color: #373737;
}


.routes{
    font-weight: 400;
    font-size: 1rem;
    color: #373737;
}


.notice{
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
    background-color: #FFEECE;
}


#main-container{
    max-width: 1320px;
    margin: auto;
}


#continents-container{
    display: grid;
    grid-template-columns: 400px 400px 400px;
    gap: 60px;
    max-width: 1320px;
    margin: auto;
}


.continent-name{
    text-align: center;
    font-size: 1.5rem ;
    font-weight: 700;
    margin-bottom: 14px;
}


.full-country-container{
    display: flex;
    flex-direction: column;
    
    border: 1px;
    border-style: solid;
}


.country-details{
    display: grid;
    grid-template-columns: 80px 140px 80px 40px;
    padding: 10px 30px;
    margin: auto;
    background-color: #373737;
}


.country-container{
    padding: 0px 30px;
}

.hideCountries{
    display: none;
}

.country{
    display: grid;
    grid-template-columns: 80px 140px 80px 40px;
    margin: 16px 0px;
}


.flag{
    width: 20px;
}


.time{
    display: flex;
}

.show-all-btn{
    background-color: #FFEECE;
    width: 90px;
    margin: auto;
    border: none;
}



@media screen and (max-width: 480px) {

    #continents-container{
        display: grid;
        grid-template-columns: 400px;
        max-width: 400px;
        margin: auto;
    }
}


/* @media screen and (max-width: 768px) {

    #continents-container{
        display: grid;
        grid-template-columns: 400px 400px;
        max-width: 860px;
        margin: auto;
    }
} */